.ui-segmented-control {
  display: inline-flex;
  align-items: center;
  padding: 2px;
  background-color: var(--ui-color-neutral-100);
  border-radius: var(--ui-segmented-radius);
  border: 1px solid var(--ui-border-subtle);
  user-select: none;
  font-family: inherit;
  box-sizing: border-box;
}

.ui-segmented-control--icons {
  display: inline-flex;
}
