/* Element style for icon within segmented control */
.draft-ui-segmented-control__icon, .ui-segmented-control__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
